$loader-width: 2rem !default;
$loader-height: $loader-width !default;
$loader-vertical-align: -0.125em !default;
$loader-border-width: 0.2em !default;
$loader-animation-speed: 0.75s !default;
$loader-color: white !default;

$loader-width-lg: 3rem !default;
$loader-height-lg: $loader-width-lg !default;
$loader-border-width-lg: 0.3em !default;

$loader-width-sm: 1rem !default;
$loader-height-sm: $loader-width-sm !default;
$loader-border-width-sm: 0.1em !default;
