$zindex-modal-backdrop: 1050;
$zindex-modal-backdrop-close: 1100;
$zindex-modal: 1055;

$modal-inner-padding: 1rem;

$modal-footer-margin-between: 0.5rem;

$modal-dialog-margin: 1rem;
$modal-dialog-margin-y-sm-up: 1.75rem;

$modal-title-line-height: 1.5;

$modal-content-color: #000;
$modal-content-bg: #fff;
$modal-content-border-color: transparent;
$modal-content-border-width: 1px;
$modal-content-border-radius: 5px;
$modal-content-inner-border-radius: subtract(
  $modal-content-border-radius,
  $modal-content-border-width
);
$modal-content-box-shadow-xs: 0 0.125rem 0.25rem rgba(#212529, 0.075);
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba(#212529, 0.15);

$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.95;

$modal-header-border-color: #dee2e6;
$modal-header-border-width: $modal-content-border-width;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

$modal-footer-bg: null;
$modal-footer-border-color: $modal-header-border-color;
$modal-footer-border-width: $modal-header-border-width;

$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;

$modal-fade-transform: translate(0, -50px);
$modal-show-transform: none;
$modal-transition: transform 0.3s ease-out;
$modal-scale-transform: scale(1.02);
