$alert-padding-y: $spacer !default;
$alert-padding-x: $spacer !default;
$alert-border-radius: 10px !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default;
